---
const { categoryName, icon} = Astro.props;
---

<a href="#" class=" bg-gradient-to-t from-pink-400/30 to-pink-200/30 shadow-md shadow-black/20 rounded-md px-4 hover:scale-105 transition-all hover:rotate-2 hover:bg-pink-300/70">
  <div class='h-full flex items-center gap-6'>
    <img class="py-1 h-full" src={icon} alt="">
    <h3 class='text-xl font-semibold'>{categoryName}</h3>
  </div>
</a>
