---
import QuestionItem from "./QuestionItem.astro";
---

<section class="mb-12">
  <h2 class='font-bold text-xl sm:text-3xl md:text-4xl lg:text-5xl text-center text-balance mb-2'>Preguntas frecuentes</h2>
  <h3 class='font-regular text-sm md:text-lg text-center mb-8 lg:mb-12 text-pretty'>
    Encuentra respuestas a las preguntas más comunes sobre nuestros servicios,
    políticas y beneficios. Si tienes alguna duda, esta sección te ayudará a
    resolverla rápidamente.
  </h3>
  <div class='flex flex-col gap-6'>
  <QuestionItem
    question='¿Cómo puedo unirme al Club CloudyShop?'
    answer='Unirte al Club CloudyShop es muy sencillo. Solo tienes que seleccionar uno de nuestros planes de membresía (Brisa, Tormenta o Huracán) y seguir el proceso de inscripción. Una vez registrado, comenzarás a disfrutar de los beneficios exclusivos de inmediato.'
  />
  <QuestionItem
    question='¿Cuáles son las opciones de pago disponibles?'
    answer='Aceptamos diversas formas de pago para tu comodidad, incluyendo tarjetas de crédito y débito (Visa, MasterCard, American Express), PayPal y transferencias bancarias. Todos los pagos son procesados de manera segura para garantizar tu tranquilidad.'
  />
  <QuestionItem
    question='¿Puedo cancelar mi membresía en cualquier momento?'
    answer='Sí, puedes cancelar tu membresía en cualquier momento desde tu cuenta en nuestro sitio web. No hay cargos por cancelación y seguirás disfrutando de los beneficios de tu plan hasta el final del período de facturación en curso.'
  />
  <QuestionItem
    question='¿Cómo funciona la política de devolución del dinero?'
    answer='Nuestra política de devolución del dinero es simple y sin complicaciones. Si no estás satisfecho con tu compra, puedes devolver el producto en su estado original dentro de los 30 días posteriores a la recepción y te reembolsaremos el importe total. Para más detalles, visita nuestra página de Devoluciones y Reembolsos.'
  />
  <QuestionItem
    question='¿Qué debo hacer si tengo problemas con mi pedido?'
    answer='Si tienes cualquier problema con tu pedido, nuestro equipo de atención al cliente está aquí para ayudarte. Puedes contactarnos por teléfono, correo electrónico o chat en vivo, y haremos todo lo posible para resolver tu situación de manera rápida y eficiente.'
  />
</div>
</section>
