<footer class="flex w-full justify-around border-t py-4 border-pink-300 bg-rose-950/30">
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold">Navegación</h5>
    <ul class="flex flex-col gap-1">
      <li>
        <a href='#'> Categorías </a>
      </li>
      <li>
        <a href='#'> Nosotros </a>
      </li>
      <li>
        <a href='#'> Planes </a>
      </li>
      <li>
        <a href='#'> Preguntas frecuentes </a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold">Servicio al cliente</h5>
    <ul class="flex flex-col gap-1">
      <li>
        <a href='#'> Envíos y devoluciones </a>
      </li>
      <li>
        <a href='#'> Políticas de privacidad </a>
      </li>
      <li>
        <a href='#'> Términos y condiciones </a>
      </li>
      <li>
        <a href='#'> Contáctanos </a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold">Acerca de nosotros</h5>
    <ul class="flex flex-col gap-1">
      <li>
        <a href='#'>Nuestra historia </a>
      </li>
      <li>
        <a href='#'>Misión y visión </a>
      </li>
      <li>
        <a href='#'>Blog </a>
      </li>
      <li>
        <a href='#'>Prensa </a>
      </li>
      <li>
        <a href='#'>Trabaja con nosotros </a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold">Conéctate con nosotros</h5>
    <ul class="flex flex-col gap-1">
      <li>
        <a href='#'> Facebook </a>
      </li>
      <li>
        <a href='#'> X </a>
      </li>
      <li>
        <a href='#'> Instagram </a>
      </li>
      <li>
        <a href='#'> YouTube </a>
      </li>
    </ul>
  </div>
</footer>

<style>
  a {
    display: inline-block;
    transition: 100ms ease-in-out;
  }

    a:hover {
        color: #fafafa;
        scale: 1.08;
    }
</style>